 *{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  background: linear-gradient(to right, #f36d4c, #feb47b);
}

.appname h1{
  text-align: center;
  margin-top: 10px;
  color: #721212;
}

.container{
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h2{
   margin-top: 1rem;
   text-align: center;
   color: rgb(164, 48, 48);
}

.top{
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.inputclass{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input{
  border: none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.add{
  background-color: rgb(158, 30, 30);
  color:white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  float: right;
  transition-duration: 0.4sec;
}
.add:hover {background-color: #bb3d3d;}

.todo{
  position: relative;
  margin-top: 1rem;
  background-color: rgb(199, 72, 72);
  color: rgb(226, 230, 234);
  padding: 1.5rem 3rem;
  border-radius: 5px;
}
.icons{
  position: absolute;
  top: 35%;
  transform: translate(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon{
  cursor: pointer;
  font-size: 20px;
} 